In [3]:
import pandas as pd

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data/iris.data.csv',)

In [6]:
df.head(10)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

## Relatório da análise

In [7]:
#Com essa análise consigo ver que não temos registros "Nulos ou NaN"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length    150 non-null float64
sepal width     150 non-null float64
petal length    150 non-null float64
petal width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [8]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
df.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
class            object
dtype: object

In [10]:
# criar um dataframe com os tipos de dados e setar nome das colunas

In [11]:
tipos_de_dados = pd.DataFrame(df.dtypes,columns=['Tipos de dados'])

In [12]:
tipos_de_dados.columns.name='Variáveis'

In [13]:
tipos_de_dados

Variáveis    Tipos de dados
sepal length        float64
sepal width         float64
petal length        float64
petal width         float64
class                object

In [14]:
# Saber a qtd de registros e campos no BD

In [15]:
df.shape

(150, 5)

In [16]:
print("A base de dados apresenta {} registros e {} atributos".format(df.shape[0], df.shape[1]))

A base de dados apresenta 150 registros e 5 atributos

## Tipos de flores

In [17]:
df['class']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
6         Iris-setosa
7         Iris-setosa
8         Iris-setosa
9         Iris-setosa
10        Iris-setosa
11        Iris-setosa
12        Iris-setosa
13        Iris-setosa
14        Iris-setosa
15        Iris-setosa
16        Iris-setosa
17        Iris-setosa
18        Iris-setosa
19        Iris-setosa
20        Iris-setosa
21        Iris-setosa
22        Iris-setosa
23        Iris-setosa
24        Iris-setosa
25        Iris-setosa
26        Iris-setosa
27        Iris-setosa
28        Iris-setosa
29        Iris-setosa
            ...
120    Iris-virginica
121    Iris-virginica
122    Iris-virginica
123    Iris-virginica
124    Iris-virginica
125    Iris-virginica
126    Iris-virginica
127    Iris-virginica
128    Iris-virginica
129    Iris-virginica
130    Iris-virginica
131    Iris-virginica
132    Iris-virginica
133    Iris-virginica
134    Iris-virginica
135    Iris-virginica
136    Iris-virginica
137    Iris-virginica
138    Iris-virginica
139    Iris-virginica
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: object

In [18]:
tipo_de_flores = df['class']

In [19]:
type(tipo_de_flores)

pandas.core.series.Series

In [20]:
tipo_de_flores.drop_duplicates(inplace=True)

In [21]:
tipo_de_flores = pd.DataFrame(tipo_de_flores)

In [22]:
tipo_de_flores

               class
0        Iris-setosa
50   Iris-versicolor
100   Iris-virginica

In [23]:
tipo_de_flores.index

Int64Index([0, 50, 100], dtype='int64')

In [24]:
#atribuir index ordenados

In [25]:
index = ['Linha' + str(i) for i in range(len(tipo_de_flores))]

In [26]:
for i in range(len(tipo_de_flores)):
    print(i)

0
1
2

In [27]:
tipo_de_flores.index = range(len(tipo_de_flores))

In [28]:
tipo_de_flores

             class
0      Iris-setosa
1  Iris-versicolor
2   Iris-virginica

In [29]:
#Atibuindo um nome para a 1 coluna
tipo_de_flores.columns.name = 'ID'

In [30]:
tipo_de_flores

ID            class
0       Iris-setosa
1   Iris-versicolor
2    Iris-virginica

In [31]:
flores = ['Iris-versicolor','Iris-setosa']

In [32]:
#vaidação básica, se existe algum dado que tem as classes que estão no vetor
df['class'].isin(flores)

0       True
50      True
100    False
Name: class, dtype: bool

In [33]:
selecao = df['class'].isin(flores)

In [34]:
flores_selecionadas = df[selecao]

C:\Users\LauraDamacenodeAlmei\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [ ]:
flores_selecionadas

In [ ]:
len(flores_selecionadas)

In [ ]:
len(df)

In [ ]:
flores_selecionadas.index = range(len(flores_selecionadas))
flores_selecionadas

## Exportar para csv

In [ ]:
flores_selecionadas.to_csv('data/flores_filtradas.csv',sep=";",index=False)

## Seleções e frequência dos dados

In [ ]:
df.head(10)

In [37]:
#Selecionar apenas as flores do tipo 'Iris-setosa'
selecao = df['class'] == 'Iris-setosa'
n1 = df[selecao].shape[0]
n1

C:\Users\LauraDamacenodeAlmei\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [ ]:
#Selecionar apenas flores do tipo 'Iris-versicolor'
selecao = df['class'] == 'Iris-versicolor'
n2 = df[selecao].shape[0]
n2

In [ ]:
#Selecionar apenas flores do tipo 'Iris-virginica'
selecao = df['class'] == 'Iris-virginica'
n3 = df[selecao].shape[0]
n3

In [ ]:
#Selecionar flores do tipo 'Iris-virginica' ou 'Iris-setosa'
selecao = (df['class'] == 'Iris-setosa') | (df['class'] == 'Iris-virginica')
n4 = df[selecao].shape[0]
n4

In [ ]:
#Selecionar flores com pétalas entre 4 e 6
selecao = (df['petal length']>=4.0)&(df['petal length']<=6.0)
n5 = df[selecao].shape[0]
n5

In [ ]:
#Selecionar flores com pétalas de tamanho 3.4 e sépala maior que 4
selecao = (df['petal length']== 4.0)&(df['sepal length']>=4.0)
n6 = df[selecao].shape[0]
n6

## Criar novas variáveis no DF

In [ ]:
df['tamanho flor'] = df['petal length'] + df['sepal length']

In [ ]:
df.head(10)

In [ ]:
#Para excluir essa nova variável del df['tamanho flor'] ou df.pop('tamanho flor')

In [ ]:
del df['tamanho flor']

In [ ]:
df

In [ ]:
df.to_csv('data/iris2.csv', sep = ';', index = False)

In [ ]:
df['class'].unique()

In [ ]:
df['class'].value_counts()

## Análise descritiva

In [ ]:
df['petal length'].mean()

In [38]:
grupo_flores = df.groupby('class')

In [39]:
#exibir dicionário de grupos
grupo_flores.groups

{'Iris-setosa': Int64Index([0], dtype='int64'),
 'Iris-versicolor': Int64Index([50], dtype='int64'),
 'Iris-virginica': Int64Index([100], dtype='int64')}

In [40]:
#pegar informações dentro dele
for flores,dados in grupo_flores:
    print(flores)

Iris-setosa
Iris-versicolor
Iris-virginica

In [ ]:
#fazer a média do tamanho da pétala e sépala cada tipo de flores
grupo_flores[['petal length','sepal length']].mean().round(2)

In [ ]:
grupo_flores['petal length'].describe().round(2)

In [ ]:
plt.rc('figure', figsize=(20,10))

In [ ]:
fig = grupo_flores['petal length'].std().plot.bar(color = 'purple')
fig.set_ylabel('Desvio Padrão')

In [ ]:
fig = grupo_flores[['petal length','sepal length']].mean().round(2).plot.bar(color = ['red','green'])