In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
import seaborn as sns
from sklearn import preprocessing
%matplotlib inline

In [2]:
df = pd.read_csv('data/iris.data.csv')

### Modelamento KNN

#### KNN é um algoritmo para aprendizado supervisionado. Onde os dados são treinados com pontos correspondentes a sua classificação. Uma vez que o ponto é escolhido, ele leva em conta os pontos próximos de K para determinar a sua classificação

In [3]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df['class'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: class, dtype: int64

In [5]:
x=df[['sepal length','sepal width','petal length','petal width']]

In [6]:
y=df[['class']]

In [7]:
y[:5]

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [8]:
x[:5]

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

#### A padronização de dados fornece dados de média zero e variação de unidade, é uma boa prática, especialmente para algoritmos como o KNN, que é baseado na distância dos casos

In [9]:
x=preprocessing.StandardScaler().fit(x).transform(x.astype(float))
x[:5]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673],
       [-1.02184904,  1.26346019, -1.3412724 , -1.31297673]])

##### Para termos uma melhor precisão dos dados fora da amostra, uma abordagem é dividirmos nosso modelo em teste e treino

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (105, 4) (105, 1)
Test set: (45, 4) (45, 1)

### Construção do modelo

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
k = 4
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

C:\Users\LauraDamacenodeAlmei\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [13]:
teste = neigh.predict(X_test)
teste[0:5]

array(['Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'], dtype=object)

### Precisão

In [14]:
from sklearn import metrics
print("Treino precisão: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Teste precisão: ", metrics.accuracy_score(y_test, teste))

Treino precisão:  0.9523809523809523
Teste precisão:  0.9555555555555556

In [15]:
k = 6
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

C:\Users\LauraDamacenodeAlmei\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=6, p=2,
           weights='uniform')

In [16]:
teste = neigh.predict(X_test)
teste[0:5]

array(['Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'], dtype=object)

In [17]:
from sklearn import metrics
print("Treino precisão: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Teste precisão: ", metrics.accuracy_score(y_test, teste))

Treino precisão:  0.9809523809523809
Teste precisão:  0.9555555555555556

In [18]:
print('F1 score: ',metrics.f1_score(y_test, teste,average=None))

F1 score:  [1.         0.9        0.92857143]

In [20]:
metrics.confusion_matrix(y_test,teste)

array([[21,  0,  0],
       [ 0,  9,  1],
       [ 0,  1, 13]], dtype=int64)